
BlinkCameraCall/bin/Debug/net8.0/BlinkCameraCall.deps.json
BlinkCameraCall/bin/Debug/net8.0/BlinkCameraCall.dll
BlinkCameraCall/bin/Debug/net8.0/BlinkCameraCall.exe
BlinkCameraCall/bin/Debug/net8.0/BlinkCameraCall.pdb
BlinkCameraCall/bin/Debug/net8.0/BlinkCameraCall.runtimeconfig.json
BlinkCameraCall/obj/BlinkCameraCall.csproj.nuget.dgspec.json
BlinkCameraCall/obj/BlinkCameraCall.csproj.nuget.g.props
BlinkCameraCall/obj/BlinkCameraCall.csproj.nuget.g.targets
BlinkCameraCall/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BlinkCameraCall/obj/Debug/net8.0/apphost.exe
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.AssemblyInfo.cs
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.AssemblyInfoInputs.cache
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.assets.cache
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.csproj.BuildWithSkipAnalyzers
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.csproj.CoreCompileInputs.cache
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.csproj.FileListAbsolute.txt
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.dll
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.GeneratedMSBuildEditorConfig.editorconfig
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.genruntimeconfig.cache
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.GlobalUsings.g.cs
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.pdb
BlinkCameraCall/obj/Debug/net8.0/ref/BlinkCameraCall.dll
BlinkCameraCall/obj/Debug/net8.0/refint/BlinkCameraCall.dll
BlinkCameraCall/obj/project.assets.json
BlinkCameraCall/obj/project.nuget.cache
.vs/BlinkCameraCall/DesignTimeBuild/.dtbcache.v2
.vs/BlinkCameraCall/FileContentIndex/2cd15746-0099-407e-bdc6-d804db6785f0.vsidx
.vs/BlinkCameraCall/FileContentIndex/30d18aaa-374d-466c-a5cf-707c045f3766.vsidx
.vs/BlinkCameraCall/FileContentIndex/a8ec1277-b500-4616-b795-b8d517194706.vsidx
.vs/BlinkCameraCall/FileContentIndex/bafe1cb8-0cc2-45a8-9942-ceac842f52c8.vsidx
.vs/BlinkCameraCall/FileContentIndex/c93a43ca-94fe-48aa-bcca-cb471c685b4d.vsidx
.vs/BlinkCameraCall/v17/.suo
BlinkCameraCall/bin/Debug/net8.0/Dependency.dll
BlinkCameraCall/bin/Debug/net8.0/Shadow.Quack.dll
BlinkCameraCall/bin/Debug/net8.0/Shadow.Quack.Json.dll
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.csproj.AssemblyReference.cache
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.csproj.CopyComplete
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.sourcelink.json
BlinkCameraCallUnitTests/obj/BlinkCameraCallUnitTests.csproj.nuget.dgspec.json
BlinkCameraCallUnitTests/obj/BlinkCameraCallUnitTests.csproj.nuget.g.props
BlinkCameraCallUnitTests/obj/BlinkCameraCallUnitTests.csproj.nuget.g.targets
BlinkCameraCallUnitTests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BlinkCameraCallUnitTests/obj/Debug/net8.0/BlinkCameraCallUnitTests.AssemblyInfo.cs
BlinkCameraCallUnitTests/obj/Debug/net8.0/BlinkCameraCallUnitTests.AssemblyInfoInputs.cache
BlinkCameraCallUnitTests/obj/Debug/net8.0/BlinkCameraCallUnitTests.assets.cache
BlinkCameraCallUnitTests/obj/Debug/net8.0/BlinkCameraCallUnitTests.csproj.AssemblyReference.cache
BlinkCameraCallUnitTests/obj/Debug/net8.0/BlinkCameraCallUnitTests.GeneratedMSBuildEditorConfig.editorconfig
BlinkCameraCallUnitTests/obj/Debug/net8.0/BlinkCameraCallUnitTests.GlobalUsings.g.cs
BlinkCameraCallUnitTests/obj/project.assets.json
BlinkCameraCallUnitTests/obj/project.nuget.cache
.vs/BlinkCameraCall/FileContentIndex/260a7302-bf51-4962-a850-027b1b73ece6.vsidx
.vs/BlinkCameraCall/FileContentIndex/bc49a5fa-36f0-4f7e-a9e2-4e50a58caf45.vsidx
.vs/BlinkCameraServiceHandler/v17/.wsuo
/Settings.json
/.vs/BlinkCameraCall/FileContentIndex
/BlinkCameraCall/bin/Debug/net8.0
/BlinkCameraCallUnitTests/bin/Debug/net8.0
/BlinkCameraCallUnitTests/obj/Debug/net8.0
/BlinkCommon/bin/Debug/net8.0
/BlinkCommon/obj
.vs/BlinkCameraCall/v17/.futdcache.v2
.vs/BlinkCameraCall/v17/TestStore/0/000.testlog
.vs/BlinkCameraCall/v17/TestStore/0/testlog.manifest
.vs/ProjectEvaluation/blinkcameracall.metadata.v7.bin
.vs/ProjectEvaluation/blinkcameracall.projects.v7.bin
*.bin
*.bin
*.bin
Settings.bak.json
*.bin
.vs/ProjectEvaluation/blinkcameracall.metadata.v7.bin
.vs/ProjectEvaluation/blinkcameracall.projects.v7.bin
*.bin
*.bin
.vs/ProjectEvaluation/blinkcameracall.projects.v7.bin
.vs/ProjectEvaluation/blinkcameracall.metadata.v7.bin
*.user
BlinkCameraCall/settings.json
*.bin
*.bin
*.bin
.vs/ProjectEvaluation/blinkcameracall.metadata.v7.bin
.vs/ProjectEvaluation/blinkcameracall.projects.v7.bin
*.bin
