
BlinkCameraCall/bin/Debug/net8.0/BlinkCameraCall.deps.json
BlinkCameraCall/bin/Debug/net8.0/BlinkCameraCall.dll
BlinkCameraCall/bin/Debug/net8.0/BlinkCameraCall.exe
BlinkCameraCall/bin/Debug/net8.0/BlinkCameraCall.pdb
BlinkCameraCall/bin/Debug/net8.0/BlinkCameraCall.runtimeconfig.json
BlinkCameraCall/obj/BlinkCameraCall.csproj.nuget.dgspec.json
BlinkCameraCall/obj/BlinkCameraCall.csproj.nuget.g.props
BlinkCameraCall/obj/BlinkCameraCall.csproj.nuget.g.targets
BlinkCameraCall/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BlinkCameraCall/obj/Debug/net8.0/apphost.exe
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.AssemblyInfo.cs
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.AssemblyInfoInputs.cache
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.assets.cache
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.csproj.BuildWithSkipAnalyzers
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.csproj.CoreCompileInputs.cache
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.csproj.FileListAbsolute.txt
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.dll
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.GeneratedMSBuildEditorConfig.editorconfig
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.genruntimeconfig.cache
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.GlobalUsings.g.cs
BlinkCameraCall/obj/Debug/net8.0/BlinkCameraCall.pdb
BlinkCameraCall/obj/Debug/net8.0/ref/BlinkCameraCall.dll
BlinkCameraCall/obj/Debug/net8.0/refint/BlinkCameraCall.dll
BlinkCameraCall/obj/project.assets.json
BlinkCameraCall/obj/project.nuget.cache
